@import "tailwindcss";

:root {
  --orange: oklch(71.938% 0.1885 47.494);
  --cream: #f5ede0;
  --black: #161311;
  --slate: #546877;
}

@theme inline {
  --color-cream:var(--cream);
  --font-anton: "Anton", sans-serif;
  --font-syne: "Syne", sans-serif;
  --font-mono: "Space Mono", monospace;
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--cream);
  color: var(--black);
}

::-webkit-scrollbar { width: 4px; }
::-webkit-scrollbar-track { background: var(--black); }
::-webkit-scrollbar-thumb { background: var(--orange); border-radius: 2px; }

::selection { background: var(--orange); color: var(--black); }

.text-stroke {
  -webkit-text-stroke: 1px var(--font--orange);
  color: transparent;
}
.shadow-bg{
  box-shadow: 0 0 10px var(--orange);
}